@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-main: #202224;
        --color-secondary: #b1b1b1;
        --color-bkg: #ffffff;
        --color-secondary-bkg: #f5f6fa;
        --color-table: #f1f4f9;
        --color-input: #f5f6fa;
    }
    :root[data-theme="dark"] {
        --color-main: #f5f6fa;
        --color-secondary: #c4c8cf66;
        --color-bkg: #1a1a1a;
        --color-secondary-bkg: #2a2a2a;
        --color-table: #2e2e2e;
        --color-input: #3a3a3a;
    }
}
#main::-webkit-scrollbar,
#modal::-webkit-scrollbar,
#sidebar::-webkit-scrollbar {
    width: 10px;
}

#main::-webkit-scrollbar-track,
#modal::-webkit-scrollbar-track,
#sidebar::-webkit-scrollbar-track {
    background: white;
}
[data-theme="dark"] #main::-webkit-scrollbar-track,
[data-theme="dark"] #modal::-webkit-scrollbar-track,
[data-theme="dark"] #sidebar::-webkit-scrollbar-track {
    background: black;
}
#main::-webkit-scrollbar-thumb,
#modal::-webkit-scrollbar-thumb,
#sidebar::-webkit-scrollbar-thumb {
    background: rgb(72, 128, 255, 80%);
    border-radius: 10px;
}
#main::-webkit-scrollbar-thumb:hover,
#modal::-webkit-scrollbar-thumb:hover,
#sidebar::-webkit-scrollbar-thumb:hover {
    background: #4880ff;
    border-radius: 10px;
}
.active {
    color: white;
    background-color: #4880ff;
}
.active + span {
    background-color: #4880ff;
}
button.activebtn {
    color: #4880ff;
    font-weight: 800;
}
aside a:hover:not(.active) {
    background: var(--color-secondary);
    color: white;
}
.swiper-wrapper {
    width: fit-content;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
    user-select: none;
    width: 100%;
    gap: 10px;
}

.page-link {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    color: #4880ff;
}

.page-link:hover {
    background-color: #f1f1f1;
}

.page-link:focus {
    outline: none;
}

.active .page-link {
    background-color: #4880ff;
    color: white;
    border-color: #4880ff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.page-navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-nav-button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    background-color: #4880ff;
    color: white;
    cursor: pointer;
    border-radius: 0.25rem;
}

.page-nav-button:disabled {
    background-color: #6c757d;
    cursor: default;
}
.swiper-slide-thumb-active {
    opacity: 1;
}
